@media screen and (max-width: 1280px) {
    #section-instruction {
        width: min(calc(396px + 24px), 100%);
        padding: 0 12px;
        box-sizing: border-box;
    }

    #section-instruction h2 {
        font-weight: 600;
        font-size: 32px;
        line-height: 112%;
        margin: 80px 0 40px 0;
    }

    .section-instruction__row {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .section-instruction__row {
        gap: 20px;
    }

    .section-instruction-1 {
        width: min(396px, 100%);
        height: 366px;

        background-image: none;
        border-radius: 32px;
        background-color: #bd92ce;
        box-shadow: 0 6px 0 0 #af82c1;
        position: relative;
        overflow: hidden;

        margin-top: 0;
    }

    .section-instruction-1::after {
        content: "";
        width: 173px;
        height: 170px;
        position: absolute;
        bottom: 0;
        right: 0;
        background-image: url("../assets/instruction-1-phone.png");
    }

    .section-instruction-2 {
        width: min(396px, 100%);
        height: 224px;
        padding: 32px;

        background-image: none;
        border-radius: 32px;
        background-color: #f1cd21;
        box-shadow: 0 6px 0 0 #d3b420;
        position: relative;

        margin-top: 29px;
    }

    .section-instruction-2::after {
        content: "";
        width: 80px;
        height: 80px;
        position: absolute;
        top: -38px;
        left: 50%;
        transform: translateX(-50%);
        background-image: url("../assets/instruction-2-phone.png");
    }

    .section-instruction-3 {
        width: min(396px, 100%);
        height: 311px;

        background-image: none;
        border-radius: 32px;
        background-color: #66caa5;
        box-shadow: 0 6px 0 0 #3aa77f;
        position: relative;
        overflow: hidden;

        margin-top: 6px;
    }

    .section-instruction-3::after {
        content: "";
        width: 79px;
        height: 100px;
        position: absolute;
        bottom: 0;
        right: 0;
        background-image: url("../assets/instruction-3-phone.png");
    }

    /* Начать тестирование */
    #submit-instruction {
        width: min(396px, 100%);
        height: 55px;

        border-radius: 12px;

        font-size: 20px;
        font-weight: 500;
        color: #ffffff;

        margin: 40px auto 0px auto;
    }
}

@media screen and (max-width: 416px) {
    .section-instruction-2 {
        height: auto;    
    }

    .section-instruction-3 {
        height: auto;
        padding-right: 60px;
    }
}

@media screen and (max-width: 370px) {
    .section-instruction-1::after {
        content: "";
        width: 173px;
        height: 140px;
        position: absolute;
        bottom: 0;
        right: 0;
        background-image: url("../assets/instruction-1-phone.png");
    }
}