body {
    width: 100%;
    height: auto;
}

h2 {
    font-family: 'Roboto', Sans-Serif;
    font-weight: 500;
    font-size: 32px; /* 32px вместо 48px*/
    line-height: 134%;
}

h3 {
    font-family: 'Roboto', Sans-Serif;
    font-weight: 500;
    font-size: 24px;
    line-height: 132%;
}

p, .p1 {
    font-family: 'Roboto', Sans-Serif;
    font-weight: 400;
    font-size: 20px; /* На этой странице 20 вместо 18 */
    line-height: 21px;
}

.p1-strong {
    font-family: 'Roboto';
    font-weight: 500;
    font-size: 18px;
    line-height: 112%;
}

.p-gray {
    color: var(--p-gray);
}

.p-cut {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}

.hidden {
    display: none !important;
}



/* Логотип сверху слево */
#top-left-logo {
    width: 128px;
    
    position: absolute;
    top: 50px;
    left: 100px;
    
}

#top-left-logo img {
    width: 100%;
}



article {
    width: min(1440px, 100%); /* Ширина 1440px или 100% при сужении */

    display: flex;
    flex-direction: row;
    justify-content: center;
    position: relative;

    box-sizing: border-box;
    padding-bottom: 70px;
    
    margin: 0 auto; /* По центру страницы */
}


section {
    width: 100%;
    display: flex;
    flex-direction: column;

    box-sizing: border-box;
    padding: 0 25px;

    margin-top: 136px;
}

section h3 {
    margin-top: 56px;
}

section p {
    margin-top: 20px;
}